<launch>
  <!-- Create a proc_navigation node -->
  <node pkg="proc_navigation" type="proc_navigation_node" name="proc_navigation_node" output="screen"/>

  <!-- Load parameters for the scanline parser-->
  <rosparam command="load" file="$(find proc_navigation)/config/ekf_constants.yaml"/>
</launch>